<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ticket-sla-heading" data-cy="TicketSLACreateUpdateHeading" jhiTranslate="eRequestApp.ticketSLA.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Ticket SLA
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="eRequestApp.ticketSLA.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let deadlineRef = editForm.get('deadline')!;
        <div class="mb-3">
          <label class="form-label" for="field_deadline" jhiTranslate="eRequestApp.ticketSLA.deadline">Deadline</label>
          <div class="d-flex">
            <input
              id="field_deadline"
              data-cy="deadline"
              type="datetime-local"
              class="form-control"
              name="deadline"
              formControlName="deadline"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (deadlineRef.invalid && (deadlineRef.dirty || deadlineRef.touched)) {
            <div>
              @if (editForm.get('deadline')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('deadline')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Trường này phải là định dạng thời gian.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_remindAt" jhiTranslate="eRequestApp.ticketSLA.remindAt">Remind At</label>
          <div class="d-flex">
            <input
              id="field_remindAt"
              data-cy="remindAt"
              type="datetime-local"
              class="form-control"
              name="remindAt"
              formControlName="remindAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ticket" jhiTranslate="eRequestApp.ticketSLA.ticket">Ticket</label>
          <select
            class="form-control"
            id="field_ticket"
            data-cy="ticket"
            name="ticket"
            formControlName="ticket"
            [compareWith]="compareTicket"
          >
            <option [ngValue]="null"></option>
            @for (ticketOption of ticketsSharedCollection; track $index) {
              <option [ngValue]="ticketOption">{{ ticketOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
