<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ticket-heading" data-cy="TicketCreateUpdateHeading" jhiTranslate="eRequestApp.ticket.home.createOrEditLabel">
        Thêm mới hoặc cập nhật Ticket
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="eRequestApp.ticket.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let flowIdRef = editForm.get('flowId')!;
        <div class="mb-3">
          <label class="form-label" for="field_flowId" jhiTranslate="eRequestApp.ticket.flowId">Flow Id</label>
          <input type="number" class="form-control" name="flowId" id="field_flowId" data-cy="flowId" formControlName="flowId" />
          @if (flowIdRef.invalid && (flowIdRef.dirty || flowIdRef.touched)) {
            <div>
              @if (editForm.get('flowId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('flowId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        @let ticketNameRef = editForm.get('ticketName')!;
        <div class="mb-3">
          <label class="form-label" for="field_ticketName" jhiTranslate="eRequestApp.ticket.ticketName">Ticket Name</label>
          <input
            type="text"
            class="form-control"
            name="ticketName"
            id="field_ticketName"
            data-cy="ticketName"
            formControlName="ticketName"
          />
          @if (ticketNameRef.invalid && (ticketNameRef.dirty || ticketNameRef.touched)) {
            <div>
              @if (editForm.get('ticketName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        @let creatorEmailRef = editForm.get('creatorEmail')!;
        <div class="mb-3">
          <label class="form-label" for="field_creatorEmail" jhiTranslate="eRequestApp.ticket.creatorEmail">Creator Email</label>
          <input
            type="text"
            class="form-control"
            name="creatorEmail"
            id="field_creatorEmail"
            data-cy="creatorEmail"
            formControlName="creatorEmail"
          />
          @if (creatorEmailRef.invalid && (creatorEmailRef.dirty || creatorEmailRef.touched)) {
            <div>
              @if (editForm.get('creatorEmail')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_currentStepId" jhiTranslate="eRequestApp.ticket.currentStepId">Current Step Id</label>
          <input
            type="number"
            class="form-control"
            name="currentStepId"
            id="field_currentStepId"
            data-cy="currentStepId"
            formControlName="currentStepId"
          />
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="eRequestApp.ticket.status">Status</label>
          <input type="number" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('status')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_priority" jhiTranslate="eRequestApp.ticket.priority">Priority</label>
          <input type="number" class="form-control" name="priority" id="field_priority" data-cy="priority" formControlName="priority" />
        </div>

        @let versionRef = editForm.get('version')!;
        <div class="mb-3">
          <label class="form-label" for="field_version" jhiTranslate="eRequestApp.ticket.version">Version</label>
          <input type="number" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
          @if (versionRef.invalid && (versionRef.dirty || versionRef.touched)) {
            <div>
              @if (editForm.get('version')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Trường này bắt buộc phải nhập.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('version')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdAt" jhiTranslate="eRequestApp.ticket.createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedAt" jhiTranslate="eRequestApp.ticket.updatedAt">Updated At</label>
          <div class="d-flex">
            <input
              id="field_updatedAt"
              data-cy="updatedAt"
              type="datetime-local"
              class="form-control"
              name="updatedAt"
              formControlName="updatedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_completedAt" jhiTranslate="eRequestApp.ticket.completedAt">Completed At</label>
          <div class="d-flex">
            <input
              id="field_completedAt"
              data-cy="completedAt"
              type="datetime-local"
              class="form-control"
              name="completedAt"
              formControlName="completedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
