<div>
  <h2 id="page-heading" data-cy="TicketDataLinkHeading">
    <span jhiTranslate="eRequestApp.ticketDataLink.home.title">Ticket Data Links</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="eRequestApp.ticketDataLink.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ticket-data-link"
        [routerLink]="['/ticket-data-link/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eRequestApp.ticketDataLink.home.createLabel">Thêm mới một Ticket Data Link</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (ticketDataLinks?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="eRequestApp.ticketDataLink.home.notFound">No Ticket Data Links found</span>
    </div>
  }

  @if (ticketDataLinks && ticketDataLinks.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nodeId">
              <div class="d-flex">
                <span jhiTranslate="eRequestApp.ticketDataLink.nodeId">Node Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="formDataId">
              <div class="d-flex">
                <span jhiTranslate="eRequestApp.ticketDataLink.formDataId">Form Data Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parentFormDataId">
              <div class="d-flex">
                <span jhiTranslate="eRequestApp.ticketDataLink.parentFormDataId">Parent Form Data Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ticket.id">
              <div class="d-flex">
                <span jhiTranslate="eRequestApp.ticketDataLink.ticket">Ticket</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ticketDataLink of ticketDataLinks; track trackId(ticketDataLink)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ticket-data-link', ticketDataLink.id, 'view']">{{ ticketDataLink.id }}</a>
              </td>
              <td>{{ ticketDataLink.nodeId }}</td>
              <td>{{ ticketDataLink.formDataId }}</td>
              <td>{{ ticketDataLink.parentFormDataId }}</td>
              <td>
                @if (ticketDataLink.ticket) {
                  <div>
                    <a [routerLink]="['/ticket', ticketDataLink.ticket.id, 'view']">{{ ticketDataLink.ticket.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/ticket-data-link', ticketDataLink.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a
                    [routerLink]="['/ticket-data-link', ticketDataLink.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(ticketDataLink)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
