<div>
  <h2 id="page-heading" data-cy="TicketSLAHeading">
    <span jhiTranslate="eRequestApp.ticketSLA.home.title">Ticket SLAS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="eRequestApp.ticketSLA.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ticket-sla"
        [routerLink]="['/ticket-sla/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="eRequestApp.ticketSLA.home.createLabel">Thêm mới một Ticket SLA</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (ticketSLAS?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="eRequestApp.ticketSLA.home.notFound">No Ticket SLAS found</span>
    </div>
  }

  @if (ticketSLAS && ticketSLAS.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deadline">
              <div class="d-flex">
                <span jhiTranslate="eRequestApp.ticketSLA.deadline">Deadline</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="remindAt">
              <div class="d-flex">
                <span jhiTranslate="eRequestApp.ticketSLA.remindAt">Remind At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ticket.id">
              <div class="d-flex">
                <span jhiTranslate="eRequestApp.ticketSLA.ticket">Ticket</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ticketSLA of ticketSLAS; track trackId(ticketSLA)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ticket-sla', ticketSLA.id, 'view']">{{ ticketSLA.id }}</a>
              </td>
              <td>{{ ticketSLA.deadline | formatMediumDatetime }}</td>
              <td>{{ ticketSLA.remindAt | formatMediumDatetime }}</td>
              <td>
                @if (ticketSLA.ticket) {
                  <div>
                    <a [routerLink]="['/ticket', ticketSLA.ticket.id, 'view']">{{ ticketSLA.ticket.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ticket-sla', ticketSLA.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/ticket-sla', ticketSLA.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(ticketSLA)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
